<div class="currentEvent">
    <!--<div class="close-line" >-->
    <button class="close close-btn" aria-label="Close" (click)="clickClose()">&times;</button>
    <!--</div>-->

    <div class="eventDetail-title">{{event.title}}</div>
    <div class="eventDetail-writer">{{event.writer_name}}</div>
    <div class="eventDetail-time">{{event.write_time}}</div>
    <div class="eventDetail-content">{{event.content}}</div>

    <div class="eventDetail-img"></div>
    <div class="eventDetail-comments">
        <div class="eventDetail-comments-title">Comments</div>
        <ul class="comments-display">
            <li *ngFor="let comment of event.comments">
                <div class="eventDetail-comments-content">{{comment.content}}</div>
                <div class="eventDetail-comments-writer">{{comment.writer_name}}</div>
                <div class="eventDetail-comments-time">{{comment.write_time}}</div>
            </li>
        </ul>
        <div class="input-comment">
            <input  [(ngModel)]="comment" placeholder="Make your comment"  type="text">
            <button class="btn btn-primary btn-comment">Submit</button>
            <!--<button class="btn btn-primary" (click)="clickClose()">Close</button>-->
        </div>

    </div>
</div>
