<div class="home">
    <div class="home-header">
        <div class="home-header-title">Around Us</div>
    </div>
    <div class="home-main">
        <agm-map class="google-map"
                 [mapTypeId]="'roadmap'"
                 [latitude]="centerLat"
                 [longitude]="centerLng"
                 [minZoom]="13"
                 (mapClick)="clickMap($event)"
                 [clickableIcons]="false"
                 [styles]="mapStyle"
        >
            <div *ngFor="let event of events">
                <div *ngIf="event.mood == 'happy'">
                    <agm-marker
                            [latitude]="event.latitude"
                            [longitude]="event.longitude"
                            [iconUrl]="{
                    url:'assets/images/happyMarker.png',
                    scaledSize: {
                        height: 30,
                        width: 30
                    }
                }"
                            [title]="event.title"
                            (markerClick)= "clickMarker(event.id)"
                    ></agm-marker>
                </div>
                <div *ngIf="event.mood == 'sad'">
                    <agm-marker
                            [latitude]="event.latitude"
                            [longitude]="event.longitude"
                            [iconUrl]="{
                    url:'assets/images/sadMarker.png',
                    scaledSize: {
                        height: 30,
                        width: 30
                    }
                }"
                            [title]="event.title"
                            (markerClick)= "clickMarker(event.id)"
                    ></agm-marker>
                </div>
            </div>
            <!--Clicked Marker-->
            <div *ngIf="mapClicked">
                <agm-marker
                        [latitude]="clickedLat"
                        [longitude]="clickedLng"
                        [title]="'Your Spot'"
                ></agm-marker>
            </div>

        </agm-map>

        <div *ngIf="currentEvent">
            <app-event-detail [event]="currentEvent" (close)="clickCloseEventDetail()"></app-event-detail>
        </div>

        <div *ngIf="mapClicked">
            <app-event-post [latitude]="clickedLat" [longitude]="clickedLng" [mapClicked]="mapClicked" (close)="clickCloseEventPost()"></app-event-post>
        </div>
    </div>
</div>