<div class="view">
    <div class="header">
        <div class="header-left">
            <div class="header-title" (click)="goToHome()">Around Us</div>
        </div>
        <!--If login already-->
        <div *ngIf="isLogin == true" class="header-right">
            <div class="header-welcome">Welcome, {{username}}</div>
            <div class="header-button" (click)="clickLogout()">LOG OUT</div>
        </div>
        <!--If not login-->
        <div *ngIf="isLogin == false" class="header-right">
            <div class="header-button" (click)="goToLogin()">LOG IN</div>
            <div class="header-button" (click)="goToSignup()">REGISTER</div>
        </div>

    </div>
    <div class="main">
        <agm-map class="google-map"
                 [mapTypeId]="'roadmap'"
                 [latitude]="centerLat"
                 [longitude]="centerLng"
                 [minZoom]="0"
                 [zoom] = "13"
                 (mapClick)="clickMap($event)"
                 (centerChange)="changeCenter($event)"
                 [clickableIcons]="false"
                 [styles]="mapStyle"
                 [usePanning]="true"
        >
            <div *ngFor="let event of events">
                <agm-marker
                        [latitude]="event.latitude"
                        [longitude]="event.longitude"
                        [iconUrl]="{
                            url:'assets/images/' + event.mood + 'Marker.png',
                            scaledSize: {
                            height: 30,
                            width: 30
                            }
                        }"
                        [title]="event.title"
                        (markerClick)= "clickMarker(event.id)"
                >
                </agm-marker>
            </div>
            <!--Clicked Marker-->
            <div *ngIf="mapClicked">
                <agm-marker
                        [latitude]="clickedLat"
                        [longitude]="clickedLng"
                        [title]="'Your Spot'"
                ></agm-marker>
            </div>

        </agm-map>

        <!--Filter-->
        <div [hidden]="currentEvent || mapClicked" class="events-filter">
            <div class="form-check form-check-inline" *ngFor="let filter of expressionFilters">
                <input class="form-check-input" type="checkbox" [(ngModel)]="filter.isSelected">
                <img [src]="'assets/images/' + filter.expression + 'Marker.png'">
            </div>
        </div>
        <!--EventDetail-->
        <div *ngIf="currentEvent">
            <app-event-detail [event]="currentEvent" (close)="clickCloseEventDetail()" (commentPosted)="clickMarker($event)" ></app-event-detail>
        </div>
        <!--EventPost-->
        <div *ngIf="mapClicked">
            <app-event-post [latitude]="clickedLat" [longitude]="clickedLng"  [location]="clickedLocation" (close)="clickCloseEventPost()" (eventPosted)="getEvents()" ></app-event-post>
        </div>
    </div>
</div>