
/*scrollbar*/
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.view {
    height: 100vh;
}

.header {
    min-height:50px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    background-color: #2196f3;
    color: #ffffff;
    padding-left: 2%;
    padding-right: 2%;
    height: 10%;
    /*font-size:200%;*/
    justify-content: space-between;
}
.header-left {

}

.header-right {
    display: inline-flex;
    height:100%;
}

.header-title {
    height: 100%;
    font-size: 35px;
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-title:hover {
    cursor: pointer;
}

/*.header-title:before {*/
    /*content: "";*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
/*}*/
.header-welcome {
    font-size: 20px;
    padding-right:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-right: 1px solid #E6E6E6;*/
}

/*.header-welcome:before {*/
    /*content: "";*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
/*}*/
.header-button {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size:18px;
    padding:0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.header-button:before {*/
    /*content: "";*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
/*}*/
.header-button:hover {
    cursor: pointer;
    background-color: #0288d1;
}

.btn-logout {
    cursor: pointer;
}

.main {
    width: 100%;
    height: 90%;
    position: relative;
}

.google-map {
    width: 100%;
    height: 100%;
}

agm-marker:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.event-options {
    width:400px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    /*max-height: 96%;*/
    left: 2%;
    top: 2%;
    /*shadow*/
    -webkit-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    -moz-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    /*scrollbar*/
    overflow-y:auto;
    /*animation*/
}
.currentEvent {
    width: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    max-height: 96%;
    left: 2%;
    top: 2%;
    /*shadow*/
    -webkit-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    -moz-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    /*scrollbar*/
    overflow-y:auto;
    /*animation*/
}
.postEvent {
    width: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    max-height: 96%;
    left: 2%;
    top: 2%;
    /*shadow*/
    -webkit-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    -moz-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    /*scrollbar*/
    overflow-y:auto;
    /*animation*/
}
@media only screen and (max-width: 444px) {
    .event-options {
        width:90%;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        /*max-height: 96%;*/
        left: 5%;
        top: 2%;
        /*shadow*/
        -webkit-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
        -moz-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
        box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
        /*scrollbar*/
        overflow-y:auto;
        /*animation*/
    }
    .currentEvent {
        width: 90%;
        background-color:rgb(255, 255, 255);
        position: absolute;
        max-height: 96%;
        left: 5%;
        top: 2%;
        /*shadow*/
        -webkit-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
        -moz-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
        box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
        /*scrollbar*/
        overflow-y:auto;
        /*animation*/
    }

    .postEvent {
        width: 90%;
        background-color:rgb(255, 255, 255);
        position: absolute;
        max-height: 96%;
        left: 5%;
        top: 2%;
        /*shadow*/
        -webkit-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
        -moz-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
        box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
        /*scrollbar*/
        overflow-y:auto;
        /*animation*/
    }

    /*.signup {*/
        /*width: 100%;*/
        /*background-color: rgb(255, 255, 255);*/
        /*!*position: absolute;*!*/
        /*!*height: 96%;*!*/
        /*!*left: 2%;*!*/
        /*!*top: 2%;*!*/
        /*!*margin: auto;*!*/
        /*margin-bottom:2%;*/
        /*!*shadow*!*/
        /*-webkit-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);*/
        /*-moz-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);*/
        /*box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);*/
        /*!*scrollbar*!*/
        /*overflow-y:auto;*/
        /*!*animation*!*/
    /*}*/
}
.close-line {
    background-color:#2196f3;
    display: flex !important;
}

.close-btn {
    margin-left:auto !important;
    /*height:0 !important;*/
    background-color: #2196f3;

    margin-right: 5px;
    font-size: 30px !important;
    color: #ededed !important;
    opacity: 1 !important;
    text-shadow:none !important;
}

.close-btn:hover {
    opacity: 0.5 !important;
}

.event-options img{
    width:20px;
}

/*.btn-close:after {*/
    /*clear:both;*/
/*}*/

.eventDetail-title {
    clear:both;
    padding: 30px 15px 15px 15px;
    background-color:#2196f3;
    font-size: 23px;
    color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
}

.eventDetail-writer {
    padding:5px 15px 5px 15px ;
    font-size: 15px;
    color: #6b6b6b;
}

.eventDetail-time {
    padding: 0 15px 5px 15px ;
    font-size: 15px;
    color: #6b6b6b;
    border-bottom: 1px solid #E6E6E6;
}

.eventDetail-content {
    padding:10px 15px 10px 15px ;
    font-size: 16px;
    color: #1d1d1d;
    border-bottom: 1px solid #E6E6E6;

}
.eventDetail-photo{
    /*display: flex;*/
    /*justify-content: center;*/
}
.eventDetail-photo img{
    /*margin:auto !important;*/
}

.eventDetail-comments {

}
.comments-display {
    padding: 5px 0 5px 0;
    margin-bottom:0;
}
.comments-display li {
    padding: 5px 15px 15px 30px
}

.comments-display-noComment{
    color: #979797
}
.eventDetail-comments-title {
    padding:10px 15px 5px 15px;
    color: #2196f3;
    font-size: 18px;
    font-weight: 700;
}


.eventDetail-comments-writer {
    font-weight: 600;
    font-size:15px;
    color: rgb(17, 17, 17);
}
.eventDetail-comments-time {
    margin-left:10px;
    font-weight: 400;
    color: #979797;
    font-size: 14px;
}
.eventDetail-comments-content {
    font-size: 16px;
    padding-top:5px;
    font-weight: 400;
}
.eventDetail-photo {
    display: flex;
    align-items: center;
    justify-content: center;

}
.eventDetail-photo img{
    border: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}
.eventDetail-labels {
    width: 100%;
    padding-left:10px;
    padding-top:10px;
}
.eventDetail-labels span{
    border-radius: 20px;
    border: 1px solid #e5e9ef;
    margin-right:10px;
    /*background-color: #6d6d6d;*/
    padding:2px 4px 2px 4px;
    color: #979797;
    font-size: 10px;
}
.upload-photo {
    margin-bottom:15px !important;
}
.make-comment {
    border-top: 1px solid #E6E6E6;
    padding:15px 15px 10px 15px;
}

.input-comment {
    margin-bottom:15px;
    /*max-height: none;*/
}

.btn-line {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 5px 0 0 0;
}
.btn-submit {

    background-color: #2196f3 !important;
    margin-bottom:15px;
}

.postEvent-title {
    clear:both;
    padding: 30px 15px 5px 15px;
    background-color:#2196f3;
    font-size: 25px;
    color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
}

.post-form {
    border-top: 1px solid #E6E6E6;
    padding:5px 15px 10px 15px;
}

.postEvent-location {
    clear:both;
    padding: 30px 15px 15px 15px;
    background-color:#2196f3;
    font-size: 20px;
    color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
}
.select-mood {
    /*width: auto !important;*/
}
.input-info {
    padding:5px 0 10px 0 ;

}

.input-textarea {
    margin-bottom:15px;
    resize: none;
}
.alert-info {

}
.signup-container {
    position: absolute;
    display:flex;
    /*margin-left: 3%;*/
    height: 100%;
    width:100%;
    align-items: center;
    justify-content: center;
}

.signup {
    width: 400px;
    background-color: rgb(255, 255, 255);
    /*position: absolute;*/
    /*height: 96%;*/
    /*left: 2%;*/
    /*top: 2%;*/
    /*margin: auto;*/
    margin-bottom:2%;
    /*shadow*/
    -webkit-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    -moz-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    /*scrollbar*/
    overflow-y:auto;
    /*animation*/
}

.sign-title {
    clear:both;
    padding: 30px 15px 30px 15px;
    background-color:#2196f3;
    font-size: 25px;
    color: #ffffff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.info {
    clear: both !important;
    display: block;
}

.login {
    width: 400px;
    background-color: rgb(255, 255, 255);
    /*position: absolute;*/
    /*height: 96%;*/
    /*left: 2%;*/
    /*top: 2%;*/
    margin-bottom:4%;
    /*shadow*/
    -webkit-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    -moz-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    /*scrollbar*/
    overflow-y:auto;
    /*animation*/
}

