* {
    box-sizing: border-box;
}

.home {
    height: 100vh;
}

.home-header {
    background-color: #03A9F4;
    color: #ffffff;
    padding-left: 2%;
    height: 8%;
    font-size:200%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align:middle
}
.home-main {
    width: 100%;
    height: 92%;
    position: relative;
}
.google-map {
    width: 100%;
    height: 100%;
}

agm-marker:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.currentEvent {
    float: left;
    width: 300px;
    background-color:rgba(3, 169, 244, 0.8);
    padding: 15px;
    position: absolute;
    height: 96%;
    left: 2%;
    top: 2%;
}
.postEvent {
    float: left;
    width: 300px;
    background-color:rgba(3, 169, 244, 0.8);
    padding: 15px;
    position: absolute;
    height: 96%;
    left: 2%;
    top: 2%;
}
@media only screen and (min-width: 300px) {

}