* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.home {
    height: 100vh;
}

.home-header {
    background-color: #2196f3;
    color: #ffffff;
    padding-left: 2%;
    padding-right: 2%;
    height: 8%;
    font-size:200%;

}
.home-header-title {
    float:left;
    height: 100%;
    font-size: 3.5vh;
}
.home-header-title:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.home-main {
    width: 100%;
    height: 92%;
    position: relative;
}
.google-map {
    width: 100%;
    height: 100%;
}

agm-marker:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.currentEvent {
    width: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 96%;
    left: 2%;
    top: 2%;
    /*shadow*/
    -webkit-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    -moz-box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
    box-shadow: 17px 15px 89px -29px rgba(87,85,87,1);
}
.postEvent {
    width: 400px;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    height: 96%;
    left: 2%;
    top: 2%;
}
@media only screen and (max-width: 500px) {
    .currentEvent {
        width: 80%;
        background-color:rgb(255, 255, 255);
        position: absolute;
        height: 96%;
        left: 10%;
        top: 2%;
    }

    .postEvent {
        width: 80%;
        background-color:rgb(255, 255, 255);
        position: absolute;
        height: 96%;
        left: 10%;
        top: 2%;
    }
}
.close-line {
    background-color:rgba(33, 150, 243, 0.9);
    padding: 15px 15px 0 15px;
}

.close-btn {
    height:0 !important;
    display: inline-block;
    margin-right: 10px;
    font-size: 30px !important;
    color: #ededed !important;
    opacity: 1 !important;
    text-shadow:none !important;
}

.close-btn:hover {
    opacity: 0.5 !important;
}



/*.btn-close:after {*/
    /*clear:both;*/
/*}*/

.eventDetail-title {
    clear:both;
    padding: 30px 15px 15px 15px;
    background-color:rgba(33, 150, 243, 0.9);
    font-size: 20px;
    color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
}

.eventDetail-writer {
    padding:5px 15px 5px 15px ;
    font-size: 15px;
    color: #4b4b4b;
}

.eventDetail-time {
    padding: 0 15px 5px 15px ;
    font-size: 15px;
    color:#4b4b4b;
    border-bottom: 1px solid #E6E6E6;
}

.eventDetail-content {
    padding:10px 15px 10px 15px ;
    font-size: 16px;
    color: #1d1d1d;
    border-bottom: 1px solid #E6E6E6;

}

.eventDetail-img{

}

.eventDetail-comments {

}
.comments-display {
    padding: 5px 0 5px 0
}
.comments-display li {
    padding: 5px 15px 15px 30px
}
.eventDetail-comments-title {
    padding:10px 15px 10px 15px;
    color: #2196f3;
    font-size: 18px;
    font-weight: bold;
}

.eventDetail-comments-content {

}

.eventDetail-comments-writer {

}
.eventDetail-comments-time {

}
.btn-comment {
    background-color: #2196f3 !important;
}



.input-comment {
    border-top: 1px solid #E6E6E6;
    padding:10px 15px 10px 15px;
}