<div class="postEvent">
    <button class="close close-btn" aria-label="Close" (click)="clickClose()">&times;</button>
    <div class="postEvent-title">Even Post</div>
    <!--<div class="postEvent-location">latitude: {{latitude}}, longitude: {{longitude}}</div>-->
    <div class="postEvent-location">{{location}}</div>
    <div class="post-form">
        <div class="input-info">Mood</div>
        <select class="custom-select select-mood"  [(ngModel)]="mood">
            <!--<option selected>Choose...</option>-->
            <option *ngFor="let option of moodOptions" [ngValue]="option">{{option}}</option>
        </select>
        <div class="input-info">Title</div>
        <input class="input-textarea form-control"  [(ngModel)]="title" placeholder="The title of story..."  type="text">
        <div class="input-info">Story</div>
        <textarea class="input-textarea form-control" rows="5" [(ngModel)]="content" placeholder="Tell more..."  type="text"></textarea>
        <div class="input-info">Photo</div>
        <div class="custom-file upload-photo">
            <input type="file" class="custom-file-input" [(ngModel)]="photo">
            <label class="custom-file-label" >{{photo}}</label>
        </div>
        <!--<div class="input-info">Photo</div>-->
        <div class="btn-line">
            <button class="btn btn-primary btn-submit"  (click)="clickSend()">Send</button>
        </div>
        <div [hidden]="info === ''"  class='alert alert-danger'>{{info}}</div>

    </div>
    <!--<button (click)="clickClose()">Close</button>-->
    <!--<div>latitude: {{latitude}}</div>-->
    <!--<div>longitude: {{longitude}}</div>-->
</div>