<div class="view">
    <div class="header">
        <div class="header-left">
            <div class="header-title" (click)="goToHome()">AroundUs</div>
        </div>

        <div  class="header-right">
            <div class="header-button" (click)="goToSignup()">REGISTER</div>
            <div class="header-button" (click)="goToHome()">HOME</div>
        </div>
    </div>
    <div class="main">
        <div class="signup-container">
            <div class="login">
                <div class="sign-title">SIGN IN</div>
                <div class="post-form">
                    <div class="input-info ">Email</div>
                    <input class="form-control input-textarea" [(ngModel)]="username" placeholder="Email Address" type="text">
                    <div class="input-info ">Password</div>
                    <input class="form-control input-textarea" [(ngModel)]="password" placeholder="Password" type="password">
                    <div class="btn-line">
                        <button class='btn btn-primary btn-submit' (click)="clickLogin()" >Login</button>
                    </div>
                    <div [hidden]="info == ''"  class='alert alert-danger alert-info'>{{info}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="bg">-->
    <!--<button class='btn btn-dark' (click)="goToSignup()" >Go To Sign Up</button>-->
    <!--<button class='btn btn-dark' (click)="goToHome()" >Go To Home</button>-->
    <!--<div class="card login-card " style="background-color:rgba(255,255,255,0.4);">-->
        <!--<input class="form-control" id="username" [(ngModel)]="username" placeholder="Email"  type="text">-->
        <!--<input class="form-control" id="password" [(ngModel)]="password" placeholder="Password"  type="password">-->
        <!--<button class='btn btn-primary btn-send' (click)="clickLogin()" >Login</button>-->

        <!--<div [hidden]="info == ''"  class='info alert alert-danger'>{{info}}</div>-->
    <!--</div>-->
<!--</div>-->

