<div class="view">
    <div class="header">
        <div class="header-left">
            <div class="header-title" (click)="goToHome()">AroundUs</div>
        </div>

        <div  class="header-right">
            <div class="header-button" (click)="goToLogin()">LOGIN</div>
            <div class="header-button" (click)="goToHome()">HOME</div>
        </div>
    </div>
    <div class="main">
        <div class="signup-container">
            <div class="signup">
                <div class="sign-title">REGISTER</div>
                <div class="post-form">
                    <div class="input-info "> Email *</div>
                    <input class="form-control input-textarea" [(ngModel)]="email" placeholder="Email Address" type="text">
                    <div class="input-info "> Password *</div>
                    <input class="form-control input-textarea" [(ngModel)]="password" placeholder="Password"  type="password">
                    <div class="input-info "> Confirm Password *</div>
                    <input class="form-control input-textarea" [(ngModel)]="passwordConfirm" placeholder="Repeat Password"  type="password">
                    <div class="input-info "> Name *</div>
                    <input class="form-control input-textarea" [(ngModel)]="name" placeholder="User Name" type="text">
                    <div class="btn-line">
                        <button class='btn btn-primary btn-submit' (click)="clickSignup()" >Submit</button>
                    </div>

                    <div [hidden]="info == ''"  class='alert alert-danger'>{{info}}</div>
                </div>
            </div>
        </div>
    </div>

</div>

